/* style.css */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 75px;
    background-color: #1F2937;
}

.one {
    background-color:#1F2937;
}

.title {
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8
}

.image {
    background-color: gray;
    color:#F9FAF8;
}




