/* style.css */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

button {
    padding: 10px 28px;
    border-radius: 8px;
    background-color: #3882F6;
    border-width: 0;
    color:#F9FAF8;
    font-size: 18px;
    font-weight: bolder;
}

/* Header elements */
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 75px;
    background-color: #1F2937;

}


/* Panel one elements */
.one {
    display: flex;
    padding: 50px 75px;
    background-color: #1F2937;
    gap: 30px;
}

.one div {
    flex: 1;
}


.title {
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color:#F9FAF8;
}





