/* style.css */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* Header elements */
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header, .one {
    display: flex;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
    background-color: #1F2937;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}

/* Panel one elements */

.one {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 30px;
}

.one div {
    flex: 1;
}


.title {
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color:#F9FAF8;
}





